.card {
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  width: 325px;
  height: 328px;
}

.card__header {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 1; */
  /* max-width: relative; */
  max-height: 24px;
  margin: 0 auto;
}

.card__name {
  background-color: #fff;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px 8px;
  margin: 0 10px 0 auto; /* center in flex */
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
}

.card__like-button {
  background: transparent;
  border: none;
  cursor: pointer;
  gap: 10px;
  padding: 0;
  margin: 0 auto 0 0;
}

.card__image {
  width: 100%;
  border-radius: 19px;
  object-fit: contain;
  /* border-style: 1px solid grey; */
  /* max-width: 325px;
  max-height: 328px; */
}

.cards__text {
  font-weight: 700;
  font-size: 20px;
}

.card__name_centered {
  margin: 0 auto; /* This will center the title when no like button is present */
}
