.modal__image {
  max-width: 498px;
  width: 100%;
  position: relative;
  display: block;
  overflow: auto;
}

.modal__close {
  z-index: 999;
  border: none;
  /* background-color: ; */
}

.modal__content_type_image {
  display: block;
  overflow: hidden;
  padding: 0;
}

.modal__caption {
  margin: 0;
  padding: 20px 0 12px 32px;
  font-weight: 700;
}

.modal__weather {
  margin: 0;
  padding: 0 0 32px 32px;
  font-weight: 700;
}
