.Footer {
  padding: 0 0 24px;
  font-family: Cabinet Grotesk, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  /* height: 100%; */
  margin-bottom: auto;
}

.Footer__copyright {
  margin: 0;
  position: absolute;
}

.Footer__year {
  text-align: right;
  margin: 0;
}
