.Footer {
  padding: 171px 0 24px 0;
  font-family: cabinet grotesk;
  font-size: 16px;
  line-height: 20px;
}

.Footer__copyright {
  margin: 0;
  position: absolute;
}

.Footer__year {
  text-align: right;
  margin: 0;
}
